.bundle/
.yardoc
_yardoc/

/coverage/
/doc/
/examples/vendor/
/pkg/
/spec/reports/
/tmp/

*.gem

# Thermite artefacts
mkmf.log
lib/temporal_sdk_ruby_bridge.*

# rspec failure tracking
.rspec_status

.idea/*

# Rust builds
bridge/target

# Go binaries
spec/support/go_server/main
spec/support/go_worker/main
